<h1>Comments testing website</h1>
<h2>User</h2>
{{login-display}}
<h2>Navigation</h2>
<ul>
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li>{{#link-to "comments"}}Comments{{/link-to}}</li>
</ul>
<div class="body">
  {{outlet}}
</div>
